@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap");
* {
  --primary: #8347b5;
  --secondary: #ffffff;
  --primary-green: #227027;
  --secondary-green: #90f096;
  --primary-red: #a81b0e;
  --secondary-red: #ff7a73;
  --meta: rgb(0, 93, 168);
  --focus-light: rgba(163, 211, 226, 0.897);
  --primary-btn-active: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: rgb(191, 191, 191) !important;
  width: 8px !important;
  height: 8px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(92, 92, 92) !important;
  border-image: initial !important;
  border-radius: 50px;
}

.findpet{
  font-style: italic;
  margin-top: 20px;
  font-size: 38px;
  color: black;
}

.findpet p{
  align-items: center;
  background: var(--primary);
  font-size: 22px;
  width: 90px;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.findpet p:hover{
  background: #7e1ba2;
  font-size: 22px;
  color: white;
}

.image img{
    width: 900px;
    height: 500px;

}
.container {
  padding: 100px 10rem 0px 10rem;
}
.btn {
  border: 0.1rem solid #a8a8a82d;
  padding: 1vh 1vw;
  border-radius: 5px;
  min-height: 30px;
  max-height: 10vh;
  cursor: pointer;
}

.btns {
  border: 0.1rem solid #a8a8a82d;
  padding: 1vh 1vw;
  border-radius: 8px;
  margin-left: 10px;
  height: 43px;
  max-height: 10vh;
  cursor: pointer;
}

textarea:focus,
input:focus,
.input:focus,
.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 5px var(--focus-light), 0 0 5px var(--focus-light),
    0 0 5px var(--focus-light);
  outline: none;
}
.btn:active {
  background-color: #808080d0;
}

a {
  text-decoration: none;
  color: #651e7e;
}
.already a:hover {
  color: rgb(78, 12, 114);
  font-size: 17px;
}

.notyet a:hover {
  color: rgb(78, 12, 114);
  font-size: 17px;
}

/* .nav-item a:hover {
  background-color: #6c0676;
  color: #ffffff;
  font-size: 25px;
} */

.btn a {
  color: white;
}

.input,
input {
  float: left;
  min-height: 3em;
  width: 100%;
  /* margin-top: 15px; */
  /* margin-bottom: 20px; */
  border-radius: 5px;
  border: 0.1em solid rgb(131, 122, 122);
  padding: 0px 1em 0px 1em;
}

.mainsearch{
  /* background: transparent; */
  color: black;
  justify-content: center;
  height: 40px;
  width: 30%;
  margin-top: 10px;
  border-radius: 5px;
  border: 0.1em solid rgb(131, 122, 122);
  padding: 0px 1em 0px 1em;
}

body {
  background-color: white;
}

.textarea {
  min-height: 100px;
  border-radius: 5px;
  margin: auto;
  border: 0.1em solid rgb(131, 122, 122);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 13vh 15px 1vh 15px;
  }
}

.form-center-on-container {
  padding: 20px 50px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  min-width: 400px;
  max-width: max-content;
}

h5{
  font-size: 30px;
}

.form-container {
  border-radius: 3px;
  height: 85vh;
}

.text-error {
  color: red;
}

.text-white {
  color: white;
}

.btn-login {
  border: none;
  background-color: var(--primary);
  color: white;
}
.btn-login:active {
  background-color: var(--primary-btn-active);
}
.btn-login:hover,
.btn-login:focus {
  box-shadow: 0px 0px 5px var(--secondary), 0 0 5px var(--secondary),
    0 0 5px var(--secondary);
    background-color: #7e1ba2;
    width: auto;
}
.btn-login:disabled {
  background-color: rgb(131, 34, 131);
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: var(--primary-green);
  background-color: var(--secondary-green);
  border-color: var(--primary-green);
}
.alert-danger {
  color: var(--primary-red);
  background-color: var(--secondary-red);
  border-color: var(--primary-red);
}
.invalid {
  border-color: var(--primary-red) !important;
  background-color: var(--secondary-red) !important;
}

hr {
  border: none;
  background: rgb(47, 46, 46);
  height: 1px;
  margin: 2px 0px;
}

.btn-edit {
  background-color: rgb(219, 190, 60);
  color: white;
}
.btn-edit:active,
.btn-edit:hover {
  background-color: rgb(250, 222, 100);
  box-shadow: 0px 0px 5px #ffcc26c9, 0 0 5px #ffcc26c9, 0 0 5px #ffcc26c9;
}
.btn-delete {
  background-color: rgb(226, 51, 51);
  color: white;
}
.btn-delete:active,
.btn-delete:hover {
  background-color: rgb(255, 118, 118);
  box-shadow: 0px 0px 5px #f83131c9, 0 0 5px #f83131c9, 0 0 5px #f83131c9;
}

#ckeditor {
  background-color: white;
}
